body {
    margin: 0;
    padding: 0;
}

.username{
    position: relative;
    left: 20px;
    border: none !important;
    color: white !important;
    height: 22px !important;
    padding-right: 20px;
    top: 10px;
}

.bg-image {
    position: relative;
    display: table;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%),
    url(../images/bg-image.jpg) no-repeat;
}

.search-row {
    margin-top: 25rem;
    padding: 3rem;
    background-color: rgba(19, 26, 32, 0.70);
    color: #fff;
    border-radius: 10px;
}
div.dataTables_wrapper div.dataTables_filter label{
    text-align: right !important;
}
td{
    background-color: rgb(88, 19, 0) !important;
}

.btn-main {
    background-color: transparent;
    color: #fff !important;
    font-weight: bold !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.btn-search {
    margin-top: 2rem !important;
}

.btn-login {
    position: absolute;
    top: 11px;
    right: 30px;
    height: 22px !important;
    color: white !important;
    border: none !important;
}

.btn-admin {
    position: relative;
    left: 20px;
    border: none !important;
    color: white !important;
    height: 22px !important;
    top: 10px;
}

.navbar-line {
    border-left: white 1px solid !important;
    border-radius: 0 !important;
    line-height: 22px !important;
}

.navbar-row {
    position: absolute;
    top: 0;
    background-color: rgba(19, 26, 32, 0.70);
    height: 4.5rem;
    width: 100%;
    padding: 0;
}

.navbar {
    list-style-type: none;
    margin-bottom: 0 !important;
}

.navbar li {
    float: left;
}

.error {
    color: red !important;
    font-weight: bold;
}

.header {
    padding: 1rem;
    color: #fff;
}

.no-margin-left{
    margin-left: 0 !important;
}

.no-margin-left:after{
    content: '.';
    visibility: hidden;
}

.logincontainer {
    background-color: transparent !important;
    padding: 20px !important;
    border: white solid 2px;
    border-radius: 5px;
    color: white;
}

.containerLogin {
    padding-top: 28vh !important;
}

.logintitel {
    text-align: center !important;
    color: black;
    font-weight: bold;
}

.loginbody {
    background-color: rgba(19, 26, 32, 0.70);
    height: 100vh;
}

.btn-aanmelden {
    background-color: transparent !important;
    color: white !important;
    border: white solid 2px !important;
}

.registreercontainer {
    background-color: transparent !important;
    padding: 20px !important;
    border-radius: 5px;
    color: white;
}

.containerRegistreer {
    padding-top: 12vh !important;
}

.registreertitel {
    text-align: center !important;
    color: black;
}

.registreerbody {
    background-color: rgba(19, 26, 32, 0.70);
    height: 100vh;
}

.input {
    background-color: transparent !important;
    color: white !important;
}

.aanmeldlink {
    float: right;
    padding-left: 20px;
    color: white !important;
}

.aanmeldlink:hover {
    color: dodgerblue !important;
}

.aanmeldlinkcontainer {
    margin-top: -70px;
    margin-bottom: 50px;
}

.width {
    width: 100%;
}

.ui-inputfield {
    margin-bottom: 15px !important;
    background: transparent !important;
}

