.bg-image {
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%),
    url(../images/bg-image.jpg);
    background-position: 100% 20%;
    background-repeat: no-repeat;
    background-size: cover;
}

.search-row{
    margin-top: 8rem;
    padding: 3rem;
    background-color: rgba(19,26,32,0.70);
    color: #fff;
    border-radius: 20px;
}
.search-btn{
    background-color: transparent;
    color: #fff !important;
    font-weight: bold !important;
    margin-top: 2rem;
}
